:root {
  --cell-size: 72px;
  --move-button-size: 72px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  position: fixed;
  inset: 0;
}

#floor-counter {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ddd;
  font-family: monospace;
  font-size: 18px;
}

#mobile-controls {
  display: none;
  rotate: 45deg;
}

@media (hover: none) and (pointer: coarse) {
  #mobile-controls {
    position: fixed;
    right: calc(var(--move-button-size) / 2 + 8px);
    bottom: calc(var(--move-button-size) / 2 + 8px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 20;
  }

  #mobile-controls button {
    background: #fff;
    border: none;
    margin: 1px;
    touch-action: manipulation;
    width: var(--move-button-size);
    height: var(--move-button-size);
    opacity: 0.2;
  }

  #mobile-controls button:active {
    background: #333;
  }
}

game {

  #game-grid {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;

    cell {
      width: var(--cell-size);
      height: var(--cell-size);

      &[type="player"] { 
        background: green;
      }

      &[type="wall"] {
        background: #222;
        border: 1px solid #888;
        margin: -1px;
        z-index: 1;
      }

      &[type="hidden"] {
        background: #000;
      }

      &[type="open"] {
        background: #333;
      }

      &[type="end"] {
        background: #a80;
      }
    }
  }
}
